body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color:orchid;
    color: black;
    padding-top: 80px;

}
header nav {
    position: sticky;
    top: 0;
    background-color:violet;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav h1 {
    font-size: 1.5rem;
    color:navy;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: crimson;
    font-weight: bold;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

section#about img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #eee;
    margin-top: 2rem;
}